/**
 * @name Abyssal Fawn
 * @author t1u / ThatOneUnoriginal
 * @authorID 347149269037481997
 * @version 1.2
 * @description A deep blue theme for the Discord application
 */

 :root, .theme-dark{
	--background-primary: #162451;
	--background-secondary: #121E48;
	--background-secondary-alt: #0D1635;
	--background-tertiary: #0D1635;
	--background-floating: #0a112b;
	--scrollbar-thin-thumb: #0D1635;
	--scrollbar-auto-track: #0D1635;
	--scrollbar-auto-thumb: #283a78;
	--channeltextarea-background: #202D57;
	--home-background: var(--background-primary);
	--button-secondary-background: #091029;
	--button-secondary-background-hover: #0D1635;
	--button-secondary-background-active: #0D1635;
	--button-outline-primary-background-active: #131e45;
	--button-outline-primary-border-active: #060b1f;
	--background-accent: #1F2F63;
	--background-modifier-accent: #1F2F63;
	--background-modifier-selected: #1F2F63;
	--background-modifier-hover: #1b2959;
	--background-modifier-active: #172554;
	--button-outline-primary-background-hover: #0D1635;
	--button-outline-primary-border-hover: #0D1635;
	--input-background: #0D1635;
	--modal-background: #162451;
	--modal-footer-background: #121E48;
	--bg-base-tertiary: var(--background-tertiary) ;
	--bg-base-secondary: var(--background-secondary);
	--brand-experiment-400: #644434;
	--brand-360: #976d57;
	--brand-500: #7B5542;
	--brand-560: var(--brand-360);
	--brand-600: #a77b64;
	--red-400: var(--brand-500);
	--green-360: var(--brand-500);
    --text-link: #b8927f;
	--status-danger: #df1b28;
	--info-warning-foreground: var(--brand-500);
	--deprecated-text-input-bg: #0D1635;
	--info-warning-background: #7b554234;
}
.theme-light{
    --text-link: var(--text-link);
}
.container__871ba{
	background: var(--brand-500) !important;
}
.slider__41d94>svg>path{
	fill: var(--brand-500);
}
.theme-dark .bar_e58961, .theme-dark .markDash_dc3ae9{
	background: #0D1635;
}
.theme-dark .directoryContainer_d3edd9{
	background: #182757;
}
.theme-dark .pageWrapper_fef757{
	background: #182757;
}
.theme-dark .footerSeparator__57d95{
	box-shadow: unset;
}
.theme-dark .customColorPicker__3cb6a{
	background: #0D1635;
	border-color: #ffffff00;
}
.theme-dark .message__04d9f{
	background: #121E48;
}
.container_b181b6{
	background: #182757;
}
.theme-dark .textContentFooter__5a630{
	background: linear-gradient(to top,hsl(var(--background-secondary)/1),hsl(var(--background-secondary)/.97)36px,hsl(var(--background-secondary)/.4))
}
.theme-dark .tagPill_d9a5cc{
	background: #0D1635;
}
.highlight{
	background: var(--brand-500);
}
.theme-dark .autocomplete_df266d{
	background: var(--background-secondary)
}
.unread__75c9f{
	color: #e6b8a1;
}
.circleIcon__428dd>path{
	fill: #fff;
}
.theme-dark .container__7590f{
	background: #182757;
}
.theme-dark .container__10dc7, .theme-dark .header__60bef{
	background: #182757;	
}
.theme-dark .innerHeader_afca2f:after{
	background: linear-gradient(to bottom,rgba(50,52,58,0)0%,#182757 100%)
}
.theme-dark .separator__925e8{
	box-shadow: unset;
}
.checked__24ad6g{
	fill: var(--brand-500);
}
.theme-dark .focused_f9cf2c{
	background: #0D1635;
}
.option_b5597b:hover:after{
	background: linear-gradient(to bottom,rgba(50,52,58,0)0%,#182757 100%)
}
.theme-dark .footer__13977{
	background: #121E48;
}
.scroller__81266{
	background: #182757;
}
.newChannel_f99b92{
	background: #e0b096 !important;
}
.newBadge_b013d6{
	background: #e0b096 !important;
}
.darkIcon__1846a{
	background: #162451;
}
.shopCard_f7822b:hover, .shopCard_f7822b:focus-within{
	box-shadow: 0 0 15px 1px var(--background-tertiary) !important;
}
.newBadge_b2f114{
	background: #e0b096;
}
.sound__4e0b6, .emoji_e926fa{
	background: var(--background-tertiary);
	opacity: .9;
}
.homeWrapper__59a03{
	background: #182757;
}
.numberBadge__50328{
	background: var(--brand-500) !important;
}
.radioBar__40e1b.radioPositionLeft__1d40a{
	--radio-bar-accent-color: var(--brand-500) !important;
}
.iconBadge_cc5031{
	background: var(--brand-500);
}
.wrapper__5036f{
	background: rgb(13, 22, 53);
	opacity: 0.6;
}
.spoilerWarning_d02e2d{
	background: #0D1635;
}
.mention__1afd3{
	background: var(--brand-500);	
}
.root__3eef0{
	background: var(--background-primary)
}
.gradientContainer__9a5a6{
	background-image: linear-gradient(rgb(13, 22, 53) 0%,rgba(13, 22, 53,.738)19%,rgba(13, 22, 53,.541)34%,rgba(13, 22, 53,.382)47%,rgba(13, 22, 53,.278)56.5%,rgba(0,0,0,.194)65%,rgba(0,0,0,.126)73%,rgba(0,0,0,7.5%)80.2%,rgba(0,0,0,4.2%)86.1%,rgba(0,0,0,2.1%)91%,rgba(0,0,0,.8%)95.2%,rgba(0,0,0,.2%)98.2%,rgba(0,0,0,0)100%)
}
.option_b5597b:after{
	background: unset;
}
.search_ac353c .DraftEditor-root .public-DraftStyleDefault-block span{
	background: var(--background-accent)
}
.messagesErrorBar__06c0a{
	background-color: var(--brand-500)
}
.custom-theme-background .isUnread__6f880, .isUnread__6f880{
	border-color: var(--brand-500)
}
.unreadPill__715fc{
	background-color: var(--brand-500);
}
.unreadPillCapStroke__12c0b{
	color: var(--brand-500);
	fill: var(--brand-500);
}
.theme-dark .gameNameInput_e25dd8:hover, .theme-dark .gameNameInput_e25dd8:focus{
	background: var(--background-accent)
}
.theme-dark .addGamePopout_e4ca8f{
	background: var(--background-accent)
}
.vc-settings-theme-links{
	background: var(--background-secondary)
}
